Repository saros-project/saros, pull requests merged in 2018-08, with the labels that each got.

#170 [INTERNAL][I] Adjust module structure check
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/filesystem/IntelliJProjectImplV2.java
Labels: bug, enhancement, intellij

#171 [INTERNAL][I] Add catch block for IllegalStateException
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/Messages.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/messages.properties
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/tree/ContactPopMenu.java
Labels: bug, intellij

#184 [RELEASE FIX] DO NOT MERGE ONTO MASTER - Add Travis config
  .travis.yml
  de.fu_berlin.inf.dpp.core/build.xml
  de.fu_berlin.inf.dpp.core/sonar-project.properties
  de.fu_berlin.inf.dpp.intellij/build.xml
  de.fu_berlin.inf.dpp.intellij/sonar-project.properties
  de.fu_berlin.inf.dpp.server/build.xml
  de.fu_berlin.inf.dpp.server/sonar-project.properties
  de.fu_berlin.inf.dpp.ui.frontend/sonar-project.properties
  de.fu_berlin.inf.dpp.ui/build.xml
  de.fu_berlin.inf.dpp.ui/sonar-project.properties
  de.fu_berlin.inf.dpp.whiteboard/build.xml
  de.fu_berlin.inf.dpp.whiteboard/sonar-project.properties
  de.fu_berlin.inf.dpp/build.xml
  de.fu_berlin.inf.dpp/sonar-project.properties
  de.fu_berlin.inf.dpp/test/framework/stf/sonar-project.properties
  sonar-project.properties
  travis/config/saros_stf_test.xml
  travis/config/stf_config
  travis/config/stf_self_test.xml
  travis/script/build/build_all.sh
  travis/script/build/build_eclipse.sh
  travis/script/build/build_frontend.sh
  travis/script/build/build_intellij.sh
  travis/script/build/build_netbeans.sh
  travis/script/build/build_server.sh
  travis/script/build/build_utils.sh
  travis/script/stf/README.md
  travis/script/stf/build/provide_testee.sh
  travis/script/stf/config_utils.sh
  travis/script/stf/master/setup_stf_ws.sh
  travis/script/stf/master/start_stf_self_tests.sh
  travis/script/stf/master/start_stf_tests.sh
  travis/script/stf/master_setup_utils.sh
  travis/script/stf/setup_stf_container.sh
  travis/script/stf/shared_vars.sh
  travis/script/stf/slave/start_eclipse.sh
  travis/script/stf/slave_setup_utils.sh
  travis/script/stf/xmpp_setup_utils.sh
Labels: intellij

#201 [DOC] Use only bootstrap for styling
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/forkme_banner.html
  docs/_includes/head.html
  docs/_includes/navbar.html
  docs/_layouts/default.html
  docs/assets/css/jekyll-theme-slate.scss
  docs/assets/css/style.scss
Labels: documentation

#203 [FIX][I] Add check if annotations violate document bounds
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationManager.java
Labels: bug, intellij
