Repository saros-project/saros, pull requests merged in 2018-09, with the labels that each got.

#204 [DOC] Add index page
  docs/_data/navigation.yml
  docs/_includes/index_navbar.html
  docs/_layouts/index.html
  docs/assets/css/style.scss
  docs/assets/images/comics/dpp_0.png
  docs/index.md
Labels: documentation

#174 [FEATURE][HTML] Implement Configuration Wizard UI
  de.fu_berlin.inf.dpp.ui.frontend/html/src/SarosApi.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/App.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/AccountStep.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/ColorStep.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/GeneralSettingsStep.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/ReviewStep.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ConfigurationWizardView/style.css
  de.fu_berlin.inf.dpp.ui.frontend/html/src/constants.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/dictionary.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/stores/ConfigurationUIStore.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/stores/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/utils/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/webpack.config.js
  de.fu_berlin.inf.dpp.ui/src/de/fu_berlin/inf/dpp/HTMLUIContextFactory.java
  de.fu_berlin.inf.dpp.ui/src/de/fu_berlin/inf/dpp/HTMLUIStrings.java
  de.fu_berlin.inf.dpp.ui/src/de/fu_berlin/inf/dpp/ui/pages/ConfigurationPage.java
  de.fu_berlin.inf.dpp/src/de/fu_berlin/inf/dpp/ui/commandHandlers/StartSarosConfigurationHandler.java
Labels: HTML

#188 [STF] Added ComponentTestView for HTML component testing
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/App.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ComponentTestView/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ContactList/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/constants.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/webpack.config.js
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/IRemoteHTMLView.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLView.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/ComponentViewTest.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/TestSuite.java
Labels: HTML, STF

#194 [STF][REFACTOR] remove duplicate code, move/rename test and packages
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/App.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/BasicWidgetTestView/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/constants.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/webpack.config.js
  de.fu_berlin.inf.dpp.ui/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp.ui/src/de/fu_berlin/inf/dpp/ui/View.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/HTMLSTFRemoteObject.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/bot/BotUtils.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/IHTMLBot.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/impl/HTMLBotImpl.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLCheckbox.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLInputField.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLMultiSelect.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLProgressBar.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLRadioGroup.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLSelect.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLTextElement.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLView.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLCheckbox.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLInputField.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLMultiSelect.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLProgressBar.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLRadioGroup.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLSelect.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLTextElement.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLView.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLCheckbox.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLMultiSelect.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLProgressBar.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/remotebot/widget/impl/RemoteHTMLSelect.java
  de.fu_berlin.inf.dpp/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/STFController.java
  de.fu_berlin.inf.dpp/test/framework/stf/test/de/fu_berlin/inf/dpp/stf/test/stf/view/html/HtmlBasicWidgetTest.java
  de.fu_berlin.inf.dpp/test/framework/stf/test/de/fu_berlin/inf/dpp/stf/test/stf/view/html/TestSuite.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/TestSuite.java
Labels: HTML, STF

#196 [STF] Add RemoteHTMLTree and use it in StartSessionWizardTest
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/App.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/BasicWidgetTestView/index.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/StartSessionWizardView/ChooseFilesStep.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/Wizard/Step.jsx
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/IHTMLBot.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/impl/HTMLBotImpl.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLTree.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLView.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLTree.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLView.java
  de.fu_berlin.inf.dpp/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/STFController.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/AddContactTest.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/StartSessionWizardTest.java
Labels: HTML, STF

#197 [STF] Add ContactListItem accessible and complete the test
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLView.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLButton.java
  de.fu_berlin.inf.dpp.ui/test/framework/stf/src/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLView.java
  de.fu_berlin.inf.dpp/test/framework/stf/test/de/fu_berlin/inf/dpp/stf/test/stf/view/html/HtmlBasicWidgetTest.java
  de.fu_berlin.inf.dpp/test/stf/de/fu_berlin/inf/dpp/stf/test/html/StartSessionWizardTest.java
Labels: HTML, STF

#198 [UI][I] Add user notification for session status changes
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/context/SarosIntellijContextFactory.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/Messages.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/eventhandler/SessionStatusChangeHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/messages.properties
Labels: awareness, enhancement, intellij

#234 [FIX][I] Add session check when opening an editor
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorHandler.java
Labels: intellij

#208 [FIX][I] Fix memory leak in EditorPool
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorPool.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorHandler.java
Labels: bug, intellij

#240 Merge release/intellij-0.1.0 onto master
  de.fu_berlin.inf.dpp.intellij/.idea/modules.xml
  de.fu_berlin.inf.dpp.intellij/META-INF/plugin.xml
  de.fu_berlin.inf.dpp.intellij/resources/saros.properties
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/core/ui/eventhandler/NegotiationHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/core/ui/eventhandler/UserStatusChangeHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/core/ui/util/CollaborationUtils.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/core/util/FileUtils.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/exceptions/IllegalAWTContextException.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/IntellijProjectLifecycle.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/SarosComponent.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/context/IntelliJVersionProvider.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/context/SarosIntellijContextFactory.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorAPI.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorPool.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorManipulator.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/ProjectAPI.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/StoppableEditorFileListener.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/VirtualFileConverter.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AbstractEditorAnnotation.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationQueue.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationRange.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationStore.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/ContributionAnnotation.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/SelectionAnnotation.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/colorstorage/ColorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/colorstorage/ColorModel.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/filesystem/Filesystem.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/filesystem/IntelliJProjectImplV2.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/negotiation/hooks/ModuleTypeNegotiationHook.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/Messages.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/actions/NotImplementedAction.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/eventhandler/SessionStatusChangeHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/menu/SarosFileShareGroup.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/menu/ShareWithUserAction.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/messages.properties
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/tree/ContactPopMenu.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/tree/TreeClickListener.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/util/DialogUtils.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/util/NotificationPanel.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/util/SafeDialogUtils.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/views/SarosToolbar.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/views/buttons/ConnectButton.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/views/buttons/ConsistencyButton.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/wizards/AddProjectToSessionWizard.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/wizards/JoinSessionWizard.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/wizards/Wizard.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/wizards/pages/InfoPage.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/wizards/pages/SelectProjectPage.java
  de.fu_berlin.inf.dpp.intellij/test/junit/de/fu_berlin/inf/dpp/intellij/context/SarosIntellijContextFactoryTest.java
  de.fu_berlin.inf.dpp.intellij/test/junit/de/fu_berlin/inf/dpp/intellij/context/SarosIntellijContextTest.java
Labels: intellij

#205 [FIX][I] Also refresh content roots when refreshing the module object
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/filesystem/IntelliJProjectImplV2.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/project/filesystem/ModuleInitialization.java
Labels: intellij
