Repository saros-project/saros, pull requests merged in 2018-07, with the labels that each got.

#136 [UI][I] Remove contact form address from messages
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/Messages.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/messages.properties
Labels: intellij

#145 [INTERNAL][I] Use a singleton list in #addSelectionAnnotation(...)
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationManager.java
Labels: intellij

#148 [FEATURE][I] #115 Add contribution annotation rotation
  de.fu_berlin.inf.dpp.intellij/resources/saros.properties
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationQueue.java
Labels: awareness, enhancement, intellij

#130 [BUILD] Enable travis notifications on failure
  .travis.yml
Labels: infrastructure

#169 [INTERNAL][I] Move content root check to separate method
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/filesystem/IntelliJProjectImplV2.java
Labels: intellij

#178 [FIX] #168 Add hook method to set the initial host preferences
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/negotiation/hooks/ISessionNegotiationHook.java
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/session/ColorNegotiationHook.java
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/session/ProjectNegotiationTypeHook.java
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/session/SarosSessionManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/negotiation/hooks/ModuleTypeNegotiationHook.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/net/WhiteboardManager.java
  de.fu_berlin.inf.dpp/src/de/fu_berlin/inf/dpp/communication/chat/muc/negotiation/MUCNegotiationManager.java
Labels: bug
