Repository saros-project/saros, pull requests merged in 2018-10, with the labels that each got.

#248 [INTERNAL][I] Add methods to handle annotations for moved/deleted files
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AbstractEditorAnnotation.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/annotations/AnnotationStore.java
Labels: awareness, intellij

#165 [INTERNAL][WB] Added IWhiteboardBrowser and its Eclipse implementation
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/BrowserRunnable.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/EclipseWhiteboardBrowser.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/IWhiteboardBrowser.java
Labels: whiteboard

#246 [FIX][CORE] #233 Correctly create ChecksumActivities for missing files
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/concurrent/watchdog/ConsistencyWatchdogClient.java
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/concurrent/watchdog/ConsistencyWatchdogServer.java
Labels: bug, consistency

#237 [FIX][CORE] #235 Fix activity dispatching for partial sessions
  de.fu_berlin.inf.dpp.core/src/de/fu_berlin/inf/dpp/session/internal/SarosSession.java
Labels: bug, consistency

#216 [REFACTOR] Move HTML-STF and IntelliJ-STF parts to STF-Project
  de.fu_berlin.inf.dpp.stf/.classpath
  de.fu_berlin.inf.dpp.stf/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/HTMLSTFRemoteObject.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/bot/BotPreferences.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/bot/BotUtils.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/IHTMLBot.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/IHTMLWorkbenchBot.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/impl/HTMLBotImpl.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLButton.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLCheckbox.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLInputField.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLMultiSelect.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLProgressBar.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLRadioGroup.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLSelect.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLTextElement.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLTree.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/IRemoteHTMLView.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLButton.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLCheckbox.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLInputField.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLMultiSelect.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLProgressBar.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLRadioGroup.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLSelect.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLTextElement.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLTree.java
  de.fu_berlin.inf.dpp.stf/src/html/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/widget/impl/RemoteHTMLView.java
  de.fu_berlin.inf.dpp.stf/src/intellij/de/fu_berlin/inf/dpp/stf/server/rmi/htmlbot/IntelliJHTMLWorkbenchBot.java
  de.fu_berlin.inf.dpp.ui/.classpath
  de.fu_berlin.inf.dpp.ui/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp.ui/build.properties
  de.fu_berlin.inf.dpp/META-INF/MANIFEST.MF
Labels: STF, build

#250 [Internal] [WB] Added BrowserSXEBridge and BrowserActionExecuter
  de.fu_berlin.inf.dpp.whiteboard/.classpath
  de.fu_berlin.inf.dpp.whiteboard/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp.whiteboard/lib/gson-2.3.jar
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/BrowserAction.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/BrowserActionExecuter.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/ui/browser/BrowserSXEBridge.java
Labels: whiteboard

#252 [Internal] [WB] Allow model creation for all shapes but only render supported ones
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/gef/model/GEFRecordFactory.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/gef/part/ElementRecordPart.java
Labels: whiteboard

#262 [FIX][I] Check if document is shared instead of relying on EditorPool
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/StoppableDocumentListener.java
  de.fu_berlin.inf.dpp.intellij/test/junit/de/fu_berlin/inf/dpp/intellij/editor/StoppableDocumentListenerTest.java
Labels: bug, intellij

#219 [BUILD] Add StartupSarosSTF to start the STF
  de.fu_berlin.inf.dpp.stf/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp.stf/build.properties
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.core.source_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.core_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.integration.source_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.integration_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.text.source_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest.text_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/lib/org.hamcrest_1.1.0.v20090501071000.jar
  de.fu_berlin.inf.dpp.stf/plugin.xml
  de.fu_berlin.inf.dpp.stf/src/eclipse/de/fu_berlin/inf/dpp/stf/StartupSarosSTF.java
  de.fu_berlin.inf.dpp/META-INF/MANIFEST.MF
  de.fu_berlin.inf.dpp/src/de/fu_berlin/inf/dpp/StartupSaros.java
Labels: STF, build

#254 [FIX][I] #251 Fix EditorManager.saveEditors(...)
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorHandler.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/project/FileSystemChangeListener.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/project/SharedResourcesManager.java
Labels: consistency, intellij

#253 [Internal][WB] Expose certain properties to GSON
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/sxe/records/AttributeRecord.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/sxe/records/ElementRecord.java
  de.fu_berlin.inf.dpp.whiteboard/src/de/fu_berlin/inf/dpp/whiteboard/sxe/records/NodeRecord.java
Labels: whiteboard

#265 [I] Add hack to avoid replicating activities during project negotiation
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/project/SharedResourcesManager.java
Labels: bug, intellij

#278 [FIX][I] Correctly reset connection when unsubscribing editor listener
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/StoppableEditorFileListener.java
Labels: bug, intellij

#279 [FIX][I] Use new sharing rules for project pop-up menu share button
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/menu/SarosFileShareGroup.java
Labels: bug, intellij
