Repository saros-project/saros, pull requests merged in 2019-09, with the labels that each got.

#668 Remove module name reference in IntelliJProjectImpl
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
Labels: Area: IntelliJ, Type: Bug

#670 [BUILD][I] Update to IntelliJ 2019.2.1
  intellij/build.gradle
Labels: Area: Infrastructure, Area: IntelliJ

#667 [BUILD] Adjust gradle config to correctly configure modules
  build.gradle
Labels: Area: Infrastructure

#677 [FIX][E] #676 Fix check whether account exists in configuration wizard
  eclipse/src/saros/ui/wizards/ConfigurationWizard.java
Labels: Area: Eclipse, Aspect: User Experience, Type: Bug

#672 Add IDE content tabs
  docs/_includes/head.html
  docs/_includes/ide-tabs.html
  docs/_includes/navbar.html
  docs/_includes/toc.html
  docs/_layouts/default.html
  docs/assets/css/style.scss
  docs/assets/images/logo/eclipse-logo.png
  docs/assets/images/logo/intellij-logo.png
  docs/assets/js/ide-tabs.js
  docs/contribute/documentation.md
  docs/documentation/host-comic.md
  docs/documentation/screenshots-eclipse.md
  docs/documentation/setup-xmpp.md
Labels: Area: Documentation, Type: Feature

#671 Update gradle to 5.6.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: Area: Infrastructure

#686 [DOC][I] Amend color wording in Getting Started page
  docs/documentation/getting-started.md
Labels: Area: Documentation, Area: IntelliJ

#697 [FIX][I] #696 Use Unix line separator for color demo text
  intellij/src/saros/intellij/preferences/colors/LocalSarosAnnotationColorsPage.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience, Prio: Medium, State: Fixed, Type: Bug

#701 Adjust plugin.xml for release 0.2.1
  intellij/resources/META-INF/plugin.xml
Labels: Area: IntelliJ

#708 [I] Add reference to bug #707 to release notes
  docs/documentation/getting-started.md
  docs/releases/saros-i_0.2.1.md
Labels: Area: Documentation, Area: IntelliJ

#706 [REFACTOR][I] Rename project lifecycle to show application bond
  intellij/src/saros/intellij/IntellijApplicationLifecycle.java
  intellij/src/saros/intellij/SarosComponent.java
Labels: Area: IntelliJ

#702 Merge format utils
  core/src/saros/concurrent/watchdog/ConsistencyWatchdogClient.java
  core/src/saros/session/UserFormatUtils.java
  core/src/saros/util/CoreUtils.java
  eclipse/src/saros/editor/annotations/ContributionAnnotation.java
  eclipse/src/saros/editor/annotations/SelectionAnnotation.java
  eclipse/src/saros/editor/annotations/ViewportAnnotation.java
  eclipse/src/saros/monitoring/remote/EclipseRemoteProgressIndicatorImpl.java
  eclipse/src/saros/ui/actions/FollowModeAction.java
  eclipse/src/saros/ui/actions/RemoveUserAction.java
  eclipse/src/saros/ui/eventhandler/UserStatusChangeHandler.java
  eclipse/src/saros/ui/model/session/FollowModeInformationTreeElement.java
  eclipse/src/saros/ui/model/session/UserElement.java
  eclipse/src/saros/ui/views/SarosView.java
  eclipse/src/saros/ui/widgets/chat/ChatControl.java
  intellij/src/saros/core/monitoring/remote/IntelliJRemoteProgressIndicatorImpl.java
  intellij/src/saros/core/ui/eventhandler/UserStatusChangeHandler.java
  intellij/src/saros/intellij/ui/actions/FollowModeAction.java
  intellij/src/saros/intellij/ui/tree/SessionTreeRootNode.java
  intellij/src/saros/intellij/ui/views/buttons/FollowButton.java
  ui/src/saros/ui/util/ModelFormatUtils.java
Labels: Area: Core
