Repository saros-project/saros, pull requests merged in 2019-12, with the labels that each got.

#781 [FIX][I] #703 Use IntelliJ util to parse URI
  intellij/src/saros/intellij/negotiation/ModuleUtils.java
Labels: Area: IntelliJ, Aspect: Consistency, Prio: High, State: Fixed, Type: Bug

#776 Move Add Contact Code to Core
  core/src/saros/net/xmpp/contact/AddContactUtility.java
  core/src/saros/net/xmpp/contact/XMPPContactsService.java
  eclipse/src/saros/ui/wizards/AddContactWizard.java
Labels: Area: Core, Area: Eclipse

#784 [CORE][E] Get XMPPContacts by JID
  core/src/saros/net/xmpp/contact/XMPPContactsService.java
  eclipse/src/saros/ui/wizards/pages/AddContactWizardPage.java
Labels: Area: Core, Area: Eclipse

#786 [E] Replace Roster call with ContactsService
  eclipse/src/saros/ui/expressions/ContactPropertyTester.java
Labels: Area: Eclipse

#788 Fix #571
  docs/contribute/saros-testing-framework.md
Labels: Area: Documentation, Type: Bug

#790 [E] Remove duplicate launch configs
  eclipse/test/resources/launch/Saros_STF_Alice.launch
  eclipse/test/resources/launch/Saros_STF_Bob.launch
  eclipse/test/resources/launch/Saros_STF_Carl.launch
  eclipse/test/resources/launch/Saros_STF_Dave.launch
Labels: Area: Eclipse

#793 [BUILD][I] Add new auto-generated IntelliJ config to gitignore
  .gitignore
Labels: Area: IntelliJ

#794 [BUILD][I] Adjust maximum heap size for 'runIDE' task
  intellij/build.gradle
Labels: Area: IntelliJ
