Repository saros-project/saros, pull requests merged in 2019-07, with the labels that each got.

#553 [DOC] Add tool comparison tables to faq
  docs/documentation/faq.md
Labels: Area: Documentation, State: In Progress, Type: Feature

#554 Add release documentation
  docs/_data/contribute/sidebar.yml
  docs/contribute/processes/release.md
Labels: Area: Documentation, State: In Progress, Type: Feature

#546 Create Bug/Feature report and PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Area: Infrastructure, Type: Feature

#555 [BUILD] Upgrade gradle wrapper 5.1.1 -> 5.4.1
  gradle/wrapper/gradle-wrapper.properties
Labels: Area: Infrastructure, Type: Feature

#556 Fix issues with SharedIDEContext.dispose()
  intellij/src/saros/intellij/context/SharedIDEContext.java
Labels: Area: IntelliJ, Type: Bug

#562 Revert "[BUILD] Skip documentation and markdown during build"
  .travis.yml
Labels: Area: Documentation, Area: Infrastructure, Prio: High, Type: Bug

#567 [DOC] Add issue report information to website support section
  docs/support/index.md
Labels: Area: Documentation

#559 [DOC] Create documentation of open topics
  docs/_data/contribute/sidebar.yml
  docs/contribute/open-topics.md
Labels: Area: Documentation, Prio: Low, State: Open

#564 Build Saros server jar in gradle
  build.gradle
  server/build.gradle
  server/src/saros/server/ServerLifecycle.java
Labels: Area: Infrastructure, Area: Server, Type: Feature

#577 [DOC] Open Topics of Instant Session Start
  docs/contribute/open-topics.md
Labels: Area: Documentation

#566 Move "AddContactView" into a page and use consistent page name
  stf.test/test/saros/stf/test/html/StartSessionWizardTest.java
  ui.frontend/html/src/SarosApi.jsx
  ui.frontend/html/src/components/AddContactView/index.jsx
  ui.frontend/html/src/components/App.jsx
  ui.frontend/html/src/components/ConfigurationView/AccountStep.jsx
  ui.frontend/html/src/components/ConfigurationView/ColorStep.jsx
  ui.frontend/html/src/components/ConfigurationView/GeneralSettingsStep.jsx
  ui.frontend/html/src/components/ConfigurationView/ReviewStep.jsx
  ui.frontend/html/src/components/ConfigurationView/index.jsx
  ui.frontend/html/src/components/ConfigurationView/style.css
  ui.frontend/html/src/components/ShareProjectView/ChooseContactsStep.jsx
  ui.frontend/html/src/components/ShareProjectView/ChooseFilesStep.jsx
  ui.frontend/html/src/components/ShareProjectView/index.jsx
  ui.frontend/html/src/components/ShareProjectView/style.css
  ui.frontend/html/src/components/ToolBar/index.jsx
  ui.frontend/html/src/constants.js
  ui.frontend/html/src/stores/SarosStore.jsx
  ui.frontend/html/test/mainView.test.jsx
  ui.frontend/html/test/shareProjectView.test.jsx
  ui.frontend/html/test/utils.js
  ui.frontend/html/webpack.dev.js
  ui/src/saros/HTMLUIContextFactory.java
  ui/src/saros/HTMLUIStrings.java
  ui/src/saros/ui/View.java
  ui/src/saros/ui/browser_functions/CloseAccountWizard.java
  ui/src/saros/ui/browser_functions/CloseAddAccountPage.java
  ui/src/saros/ui/browser_functions/CloseAddContactPage.java
  ui/src/saros/ui/browser_functions/CloseSessionInvitationWizard.java
  ui/src/saros/ui/browser_functions/CloseShareProjectPage.java
  ui/src/saros/ui/browser_functions/GetValidJID.java
  ui/src/saros/ui/browser_functions/ShowAccountPage.java
  ui/src/saros/ui/browser_functions/ShowAddAccountPage.java
  ui/src/saros/ui/browser_functions/ShowAddContactPage.java
  ui/src/saros/ui/browser_functions/ShowSessionWizard.java
  ui/src/saros/ui/browser_functions/ShowShareProjectPage.java
  ui/src/saros/ui/pages/AddAccountPage.java
  ui/src/saros/ui/pages/AddContactPage.java
  ui/src/saros/ui/pages/ShareProjectPage.java
Labels: Area: HTML-Frontend, Aspect: GUI

#589 [INTERNAL][E] Reworks ResourceChangeValidator
  eclipse/META-INF/MANIFEST.MF
  eclipse/plugin.xml
  eclipse/src/saros/project/Messages.java
  eclipse/src/saros/project/internal/ResourceChangeValidator.java
  eclipse/src/saros/project/internal/SarosEclipseSessionContextFactory.java
  eclipse/src/saros/project/messages.properties
  eclipse/src/saros/session/resources/validation/Messages.java
  eclipse/src/saros/session/resources/validation/ResourceChangeValidator.java
  eclipse/src/saros/session/resources/validation/ResourceChangeValidatorSupport.java
  eclipse/src/saros/session/resources/validation/ResourceDeltaVisitor.java
  eclipse/src/saros/session/resources/validation/messages.properties
  stf/src/saros/stf/shared/Configuration.java
Labels: Area: Eclipse, Aspect: Consistency, Aspect: User Experience

#603 [UI][E] Reactivates Wizard Banner for AddProjectToSessionWizard
  eclipse/src/saros/ui/messages.properties
  eclipse/src/saros/ui/wizards/AddProjectToSessionWizard.java
  eclipse/src/saros/ui/wizards/pages/EnterProjectNamePage.java
Labels: Area: Eclipse, Aspect: GUI, Aspect: User Experience

#604 [FIX][E] #65 Warning dialog upon reusing an existing project is
  eclipse/src/saros/ui/messages.properties
Labels: Area: Eclipse, Aspect: GUI, Aspect: User Experience
