Repository saros-project/saros, pull requests merged in 2019-06, with the labels that each got.

#511 Prepare to remove project from plugin context (5 of X)
  intellij/src/saros/intellij/context/SarosIntellijContextFactory.java
  intellij/src/saros/intellij/context/SarosIntellijSessionContextFactory.java
Labels: Area: IntelliJ

#540 [I] Replace code analyzer exception with new picocontainer reference
  .idea/misc.xml
Labels: Area: IntelliJ

#547 [BUILD] Skip documentation and markdown during build
  .travis.yml
Labels: Area: Infrastructure, Type: Feature

#541 [INTERNAL][I] Show non-shareable modules in contact pop menu
  intellij/src/saros/intellij/ui/Messages.java
  intellij/src/saros/intellij/ui/messages.properties
  intellij/src/saros/intellij/ui/tree/ContactPopMenu.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience
