Repository saros-project/saros, pull requests merged in 2019-01, with the labels that each got.

#363 [FIX][I] Use anonymous class for SelectionListener declaration
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalTextSelectionChangeHandler.java
Labels: intellij

#366 [I] Add default uiDesigner.xml automatically created by IntelliJ
  .idea/uiDesigner.xml
Labels: intellij

#387 [DOC] Add gitter badge to support doc and README
  README.md
  docs/support/index.md
Labels: documentation

#393 [BUILD] Make intellij sandbox dir configurable
  de.fu_berlin.inf.dpp.intellij/build.gradle
  docs/contribute/development-environment.md
  docs/contribute/saros-testing-framework.md
Labels: infrastructure, intellij

#404 [DOC][I] Remove references to old Pair impl in CollaborationUtils
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/core/ui/util/CollaborationUtils.java
Labels: documentation, intellij

#386 [INTERNAL][I] Transfer preexisting selections when opening an editor
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/EditorManager.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/editor/LocalEditorStatusChangeHandler.java
Labels: intellij
