Repository saros-project/saros, pull requests merged in 2019-10, with the labels that each got.

#713 [BUILD] Remove ui package from gradle/compiler.xml
  .idea/compiler.xml
  .idea/gradle.xml
Labels: Area: Infrastructure, Area: IntelliJ

#715 [BUILD][I] Update developer build version to 2019.2.3
  intellij/build.gradle
Labels: Area: IntelliJ

#665 [I] Introducing IntelliJReferencePointManager
  intellij/src/saros/core/ui/util/CollaborationUtils.java
  intellij/src/saros/intellij/context/SarosIntellijContextFactory.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJReferencePointManager.java
  intellij/src/saros/intellij/ui/wizards/AddProjectToSessionWizard.java
  intellij/test/junit/saros/intellij/filesystem/IntelliJReferencePointManagerTest.java
Labels: Area: IntelliJ

#730 [DOC] Fix links to Saros/I resources in README.md
  README.md
Labels: Area: Documentation, Aspect: User Experience, Type: Bug
