Repository saros-project/saros, pull requests merged in 2019-02, with the labels that each got.

#411 [FIX][I] Fix initialization of SessionUtils
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/context/SarosIntellijContextFactory.java
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/session/SessionUtils.java
Labels: bug, intellij

#422 [HTML] Use connection icons and toolbar
  de.fu_berlin.inf.dpp.ui.frontend/html/icons/elcl16/xmpp_connect_tsk.png
  de.fu_berlin.inf.dpp.ui.frontend/html/icons/elcl16/xmpp_connecting_misc.png
  de.fu_berlin.inf.dpp.ui.frontend/html/icons/elcl16/xmpp_connection_error_misc.png
  de.fu_berlin.inf.dpp.ui.frontend/html/icons/elcl16/xmpp_disconnect_tsk.png
  de.fu_berlin.inf.dpp.ui.frontend/html/icons/elcl16/xmpp_disconnecting_misc.png
  de.fu_berlin.inf.dpp.ui.frontend/html/src/components/ToolBar/ConnectionSplitButton.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/src/images.jsx
  de.fu_berlin.inf.dpp.ui.frontend/html/webpack.config.js
  de.fu_berlin.inf.dpp.ui.frontend/html/webpack.config.test.js
Labels: HTML

#401 [INTERNAL][HTML WB] Add shortcut manager
  de.fu_berlin.inf.dpp.whiteboard/frontend/app.js
  de.fu_berlin.inf.dpp.whiteboard/frontend/assets/styles/index.css
  de.fu_berlin.inf.dpp.whiteboard/frontend/index.html
  de.fu_berlin.inf.dpp.whiteboard/frontend/src/services/shortcutmanager.js
Labels: whiteboard

#402 [DOCS] Add docs for the whiteboard
  docs/contribute/whiteboard.md
Labels: whiteboard

#424 Fix recovery button state
  de.fu_berlin.inf.dpp.intellij/src/de/fu_berlin/inf/dpp/intellij/ui/views/buttons/ConsistencyButton.java
Labels: bug, intellij

#441 Rework documentation layout
  docs/_config.yml
  docs/_data/contribute/sidebar.yml
  docs/_includes/footer.html
  docs/_includes/forkme_banner.html
  docs/_includes/head.html
  docs/_includes/navbar.html
  docs/_includes/sidebar.html
  docs/_includes/toc.html
  docs/_layouts/default.html
  docs/_layouts/index.html
  docs/assets/css/style.scss
  docs/contribute/best-practices.md
  docs/contribute/development-environment.md
  docs/contribute/documentation.md
  docs/contribute/guidelines.md
  docs/contribute/index.md
  docs/contribute/processes/continuous-integration.md
  docs/contribute/processes/development.md
  docs/contribute/processes/release.md
  docs/contribute/processes/review.md
  docs/contribute/saros-testing-framework.md
  docs/documentation/faq.md
  docs/documentation/features.md
  docs/documentation/getting-started.md
  docs/documentation/history.md
  docs/documentation/host-comic.md
  docs/documentation/index.md
  docs/documentation/installation.md
  docs/documentation/screenshots.md
  docs/documentation/setup-xmpp.md
  docs/documentation/troubleshooting.md
  docs/documentation/what-others-say.md
  docs/downloads/index.md
  docs/support/index.md
Labels: documentation

#448 [I] Set project codestyle to Google Java Style Code format
  .idea/codeStyles/Project.xml
Labels: intellij
