Repository saros-project/saros, pull requests merged in 2019-05, with the labels that each got.

#515 Redirect update-site via GitHub Pages
  .gitignore
  docs/update-site/eclipse/compositeArtifacts.xml
  docs/update-site/eclipse/compositeContent.xml
  docs/update-site/eclipse/index.md
  docs/update-site/eclipse/p2.index
  eclipse/update/artifacts.jar
  eclipse/update/content.jar
Labels: documentation, release

#521 Avoid dynamic context menus
  eclipse/plugin.xml
Labels: Eclipse, GUI

#507 Release Notes for Saros 15.0.0
  docs/_data/navigation.yml
  docs/_data/releases/sidebar.yml
  docs/_includes/sidebar.html
  docs/_layouts/default.html
  docs/documentation/installation.md
  docs/documentation/troubleshooting.md
  docs/downloads/index.md
  docs/releases/index.md
  docs/releases/saros-e_15.0.0.md
Labels: documentation, release

#513 [DOC][I] Add release notes for Saros/I 0.1.0
  docs/releases/saros-i_0.1.0.md
  intellij/resources/META-INF/plugin.xml
Labels: documentation, intellij, release

#516 [DOC] Add favicon for GitHub pages
  docs/_includes/head.html
  docs/android-chrome-192x192.png
  docs/android-chrome-512x512.png
  docs/apple-touch-icon.png
  docs/browserconfig.xml
  docs/favicon-16x16.png
  docs/favicon-32x32.png
  docs/favicon.ico
  docs/mstile-150x150.png
  docs/safari-pinned-tab.svg
  docs/site.webmanifest
Labels: documentation

#519 [DOC] Update development process documentation for new workflow
  docs/contribute/processes/continuous-integration.md
  docs/contribute/processes/development.md
  docs/contribute/processes/review.md
Labels: documentation

#524 [DOC] Update Readme Text and add Animation
  README.md
  docs/assets/images/animation/this_is_saros.gif
Labels: documentation

#504 [BUILD][CORE] Upgrade EasyMock, PowerMock and jUnit
  build.gradle
  core/test/junit/saros/net/RosterTrackerTest.java
  core/test/junit/saros/net/internal/DataTransferManagerTest.java
  eclipse/test/junit/saros/filesystem/IResourceTest.java
Labels: build

#526 [DOC][I] Adjust installation details
  README.md
  docs/releases/saros-i_0.1.0.md
Labels: documentation, intellij

#530 [DOC] Fix package name used for picocontainer re-packaging in gradle doc
  core/picocontainer/build.gradle
Labels: build, documentation

#531 [UI][I] Remove Saros entry from the menu bar
  intellij/resources/META-INF/plugin.xml
  intellij/src/saros/intellij/ui/menu/AboutSarosHandler.java
Labels: GUI, intellij

#532 [BUILD][I] Remove build classpath workaround
  intellij/build.gradle
Labels: build, intellij

#533 [BUILD][I] Commit automatic compiler config adjustment
  .idea/compiler.xml
Labels: build, intellij

#536 [FIX][I] #535 Use theme color for toolbar
  intellij/src/saros/intellij/ui/views/SarosToolbar.java
Labels: Area: IntelliJ, Aspect: GUI, Type: Bug
