Repository saros-project/saros, pull requests merged in 2019-08, with the labels that each got.

#607 Remove SonarQube configs
  .gitignore
  .travis.yml
  build.gradle
  core/build.gradle
  core/sonar-project.properties
  eclipse/build.gradle
  eclipse/sonar-project.properties
  gradle.properties
  intellij/build.gradle
  intellij/sonar-project.properties
  server/build.gradle
  server/sonar-project.properties
  settings.gradle
  sonar-project.properties
  stf.test/build.gradle
  stf/build.gradle
  travis/script/scan/scan_all.sh
  ui.frontend/build.gradle
  ui.frontend/sonar-project.properties
  ui/build.gradle
  ui/sonar-project.properties
  whiteboard/build.gradle
  whiteboard/sonar-project.properties
Labels: Area: Infrastructure

#576 Dispose project-bound Saros UI to avoid memory leaks
  intellij/src/saros/intellij/ui/tree/ContactTreeRootNode.java
  intellij/src/saros/intellij/ui/tree/SessionAndContactsTreeView.java
  intellij/src/saros/intellij/ui/tree/SessionTreeRootNode.java
  intellij/src/saros/intellij/ui/views/SarosMainPanelView.java
  intellij/src/saros/intellij/ui/views/SarosToolbar.java
  intellij/src/saros/intellij/ui/views/buttons/AbstractSessionToolbarButton.java
  intellij/src/saros/intellij/ui/views/buttons/ConsistencyButton.java
  intellij/src/saros/intellij/ui/views/buttons/FollowButton.java
  intellij/src/saros/intellij/ui/views/buttons/LeaveSessionButton.java
Labels: Area: IntelliJ, Aspect: GUI, Type: Bug

#585 Fix initial user editor state
  intellij/src/saros/intellij/editor/EditorManager.java
Labels: Area: IntelliJ, Aspect: Awareness, Prio: Medium, Type: Bug

#596 [FIX][E] #32 Splitting annotations do not honor the history
  eclipse/src/saros/editor/internal/AnnotationModelHelper.java
  eclipse/src/saros/editor/internal/ContributionAnnotationManager.java
  eclipse/test/junit/saros/editor/internal/ContributionAnnotationManagerTest.java
Labels: Area: Eclipse, Aspect: GUI, Aspect: User Experience

#612 [I] Commit automatic IntelliJ config changes
  .idea/gradle.xml
Labels: Area: IntelliJ

#626 [CORE] Add Subscription Canceled Listener
  core/src/saros/net/xmpp/subscription/SubscriptionHandler.java
  core/src/saros/net/xmpp/subscription/SubscriptionListener.java
Labels: Area: Core

#625 [JUNIT][E] Remove Smack Roster from Test
  eclipse/test/junit/saros/ui/model/roster/RosterComparatorTest.java
Labels: Area: Eclipse, Aspect: Test

#631 [E] Detaching IReferencePointManager in Saros/E
  eclipse/src/saros/project/SharedResourcesManager.java
  eclipse/src/saros/ui/eventhandler/SessionStatusRequestHandler.java
  eclipse/src/saros/ui/wizards/AddProjectToSessionWizard.java
  eclipse/src/saros/ui/wizards/pages/EnterProjectNamePage.java
Labels: Area: Eclipse

#539 [FIX][I] #488 Adjust module comparison for multiple open projects
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
Labels: Area: IntelliJ, Type: Bug

#633 Reload annotations on color scheme change
  intellij/src/saros/intellij/editor/annotations/AnnotationManager.java
  intellij/src/saros/intellij/editor/annotations/AnnotationStore.java
  intellij/src/saros/intellij/eventhandler/IProjectEventHandler.java
  intellij/src/saros/intellij/eventhandler/ProjectEventHandlersFactory.java
  intellij/src/saros/intellij/eventhandler/colorscheme/AnnotationReloader.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience, Type: Feature

#647 [BUILD] Remove unnecessary config enabling build assertions
  core/build.gradle
  eclipse/build.gradle
Labels: Area: Infrastructure, Aspect: Test

#648 [UI][I] Use IntelliJ UI wrapper classes
  intellij/src/saros/intellij/ui/wizards/Wizard.java
  intellij/src/saros/intellij/ui/wizards/pages/NavigationPanel.java
  intellij/src/saros/intellij/ui/wizards/pages/TextAreaPage.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience, Type: Bug

#657 [INTERNAL][I] Remove outdated module restrictions
  intellij/src/saros/intellij/eventhandler/project/ProjectClosedHandler.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  intellij/src/saros/intellij/filesystem/VirtualFileConverter.java
  intellij/src/saros/intellij/ui/Messages.java
  intellij/src/saros/intellij/ui/menu/SarosFileShareGroup.java
  intellij/src/saros/intellij/ui/messages.properties
  intellij/src/saros/intellij/ui/tree/ContactPopMenu.java
  intellij/src/saros/intellij/ui/wizards/AddProjectToSessionWizard.java
Labels: Area: IntelliJ, Aspect: User Experience

#658 [DOC][I] Amend AbstractEditorAnnotation.removeLocalRepresentation doc
  intellij/src/saros/intellij/editor/annotations/AbstractEditorAnnotation.java
Labels: Area: IntelliJ

#662 [FIX][I] Correctly reset icon of consistency button on session end
  intellij/src/saros/intellij/ui/views/buttons/ConsistencyButton.java
Labels: Area: IntelliJ, Aspect: GUI, Type: Bug
