Repository saros-project/saros, pull requests merged in 2020-04, with the labels that each got.

#895 [STF] Update Version Set in STF Superbot
  core/src/saros/versioning/VersionManager.java
  stf/src/saros/stf/server/StfRemoteObject.java
  stf/src/saros/stf/server/rmi/superbot/internal/impl/InternalImpl.java
Labels: Aspect: Test

#874 Add inlcusion transformation fuzzer
  core/test/junit/saros/concurrent/jupiter/test/puzzles/GOTOInclusionTransformationTest.java
  core/test/junit/saros/concurrent/jupiter/test/puzzles/InclusionTransformationFuzzingTest.java
  core/test/junit/saros/concurrent/jupiter/test/puzzles/InclusionTransformationTest.java
Labels: Area: Core, Aspect: Consistency, Aspect: Test

#904 [REFACTOR][I] Fix minor miscellaneous issues
  intellij/src/saros/core/monitoring/IStatus.java
  intellij/src/saros/intellij/context/SarosIntellijContextFactory.java
  intellij/src/saros/intellij/context/SharedIDEContext.java
  intellij/src/saros/intellij/editor/BackgroundEditorPool.java
  intellij/src/saros/intellij/editor/EditorAPI.java
  intellij/src/saros/intellij/editor/EditorManager.java
  intellij/src/saros/intellij/editor/LocalEditorHandler.java
  intellij/src/saros/intellij/editor/LocalEditorManipulator.java
  intellij/src/saros/intellij/editor/annotations/AbstractEditorAnnotation.java
  intellij/src/saros/intellij/editor/colorstorage/ColorManager.java
  intellij/src/saros/intellij/filesystem/IntelliJFileImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJFolderImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  intellij/src/saros/intellij/negotiation/ModuleConfigurationProvider.java
  intellij/src/saros/intellij/negotiation/hooks/ModuleTypeNegotiationHook.java
  intellij/src/saros/intellij/preferences/PropertiesComponentAdapter.java
  intellij/src/saros/intellij/preferences/colors/LocalSarosAnnotationColorsPage.java
  intellij/src/saros/intellij/project/filesystem/IntelliJPathImpl.java
  intellij/src/saros/intellij/project/filesystem/IntelliJWorkspaceImpl.java
  intellij/src/saros/intellij/project/filesystem/IntelliJWorkspaceRootImpl.java
  intellij/src/saros/intellij/ui/menu/SarosFileShareGroup.java
  intellij/src/saros/intellij/ui/tree/SessionAndContactsTreeView.java
  intellij/src/saros/intellij/ui/util/UIProjectUtils.java
  intellij/src/saros/intellij/ui/views/buttons/AbstractSessionToolbarButton.java
  intellij/src/saros/intellij/ui/wizards/pages/NavigationPanel.java
  intellij/src/saros/intellij/util/MessageUtils.java
Labels: Area: IntelliJ

#911 [I] Set UTF-8 as project default
  .idea/encodings.xml
Labels: Area: Infrastructure, Area: IntelliJ

#898 Clean up file list factory
  core/src/saros/negotiation/FileListFactory.java
Labels: Area: Core

#905 [INTERNAL][I] Use content for file move activities
  intellij/src/saros/intellij/project/SharedResourcesManager.java
Labels: Area: IntelliJ, Aspect: Consistency

#908 Replace resource type list with enum
  core/src/saros/filesystem/FileSystem.java
  core/src/saros/filesystem/IResource.java
  core/src/saros/negotiation/FileListFactory.java
  core/src/saros/session/internal/SharedProjectMapper.java
  core/test/junit/saros/negotiation/FileListTest.java
  core/test/junit/saros/session/internal/SharedProjectMapperTest.java
  eclipse/src/saros/filesystem/EclipseResourceImpl.java
  eclipse/src/saros/filesystem/ResourceAdapterFactory.java
  eclipse/test/junit/saros/project/FileActivityConsumerTest.java
  intellij/src/saros/core/ui/util/CollaborationUtils.java
  intellij/src/saros/intellij/filesystem/IntelliJFileImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJFolderImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  intellij/src/saros/intellij/project/filesystem/IntelliJWorkspaceRootImpl.java
  server/src/saros/server/filesystem/ServerFileImpl.java
  server/src/saros/server/filesystem/ServerFolderImpl.java
  server/src/saros/server/filesystem/ServerProjectImpl.java
  server/src/saros/server/filesystem/ServerResourceImpl.java
  server/test/junit/saros/server/filesystem/ServerContainerImplTest.java
  server/test/junit/saros/server/filesystem/ServerFileImplTest.java
  server/test/junit/saros/server/filesystem/ServerProjectImplTest.java
  server/test/junit/saros/server/filesystem/ServerResourceImplTest.java
Labels: Area: Core

#899 Rework saros documentation
  .github/workflows/build_doc.yml
  .gitignore
  docs/.gitignore
  docs/Gemfile
  docs/_config.yml
  docs/_data/documentation/sidebar.yml
  docs/_data/navigation.yml
  docs/_data/releases/sidebar.yml
  docs/_data/social-media.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/host-warning.html
  docs/_includes/ide-tabs.html
  docs/_includes/index_navbar.html
  docs/_includes/navbar.html
  docs/_includes/scripts.html
  docs/_includes/sidebar.html
  docs/_layouts/default.html
  docs/_layouts/index.html
  docs/_sass/_variables.scss
  docs/_sass/code-highlight.scss
  docs/_sass/footer.scss
  docs/_sass/ide-tabs.scss
  docs/_sass/index.scss
  docs/_sass/mermaid.scss
  docs/_sass/navbar.scss
  docs/_sass/sidebar.scss
  docs/_sass/style.scss
  docs/_sass/tocbar.scss
  docs/assets/css/style.scss
  docs/assets/images/animation/annotations.png
  docs/assets/images/animation/saros-fm.gif
  docs/assets/images/animation/saros.gif
  docs/assets/images/contribution_annotation.png
  docs/assets/images/selection_annotation.png
  docs/assets/js/ide-tabs.js
  docs/assets/js/toc.js
  docs/assets/main.scss
  docs/contact/index.md
  docs/contribute/documentation.md
  docs/contribute/index.md
  docs/documentation/getting-started.md
  docs/documentation/host-comic.md
  docs/documentation/index.md
  docs/index.html
  docs/index.md
  docs/package.json
Labels: Area: Documentation

#920 [DOC] Create CNAME file in gh-pages
  .github/workflows/build_doc.yml
  docs/CNAME_template
Labels: Area: Documentation, Area: Infrastructure

#928 [DOC][I] Update log location in bug reporting guideline
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/documentation/getting-started.md
Labels: Area: Documentation, Area: IntelliJ

#926 [FIX] #922 Ignore .git directory for Saros sessions
  eclipse/src/saros/filesystem/EclipseResourceImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJResourceImpl.java
Labels: Area: Eclipse, Area: IntelliJ, Aspect: Consistency

#918 [NOP] Remove FolderMoveActivity
  core/src/saros/activities/FolderMovedActivity.java
  core/src/saros/activities/IActivityReceiver.java
  core/src/saros/communication/extensions/ActivitiesExtension.java
  core/test/junit/saros/session/internal/ActivityHandlerTest.java
Labels: Area: Core

#930 [FIX][I] #924 React after document modification to avoid cache issues
  intellij/src/saros/intellij/eventhandler/editor/document/LocalClosedEditorModificationHandler.java
  intellij/src/saros/intellij/eventhandler/editor/document/LocalDocumentModificationHandler.java
Labels: Area: IntelliJ, Type: Bug

#944 [BUILD] Add race condition info to runIde exception
  buildSrc/src/main/java/saros/gradle/intellij/IntellijConfigurator.java
Labels: Area: Infrastructure, Area: IntelliJ

#942 Fix minor issues on contribution guidelines page
  docs/contribute/guidelines.md
Labels: Area: Documentation

#943 Remove IProject.findMember(IPath)
  core/src/saros/filesystem/IProject.java
  eclipse/src/saros/filesystem/EclipseProjectImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  server/src/saros/server/filesystem/ServerProjectImpl.java
  server/test/junit/saros/server/filesystem/ServerProjectImplTest.java
Labels: Area: Core

#931 [FIX][I] Save all documents on session start
  intellij/src/saros/intellij/editor/EditorManager.java
Labels: Area: IntelliJ, Aspect: Consistency, Type: Bug

#951 [STF] Use openjdk img instead of custom img
  travis/script/build/build_all.sh
  travis/script/build/build_java.sh
  travis/script/stf/master/build_testee.sh
  travis/script/stf/master/setup_stf_ws.sh
  travis/script/stf/master/start_stf_self_tests.sh
  travis/script/stf/master/start_stf_tests.sh
  travis/script/stf/master_setup_utils.sh
  travis/script/stf/shared_vars.sh
Labels: Area: Eclipse, Area: Infrastructure, Aspect: Test
