Repository saros-project/saros, pull requests merged in 2020-01, with the labels that each got.

#799 [DOC][S] Add information on building the Saros server yourself
  docs/documentation/saros-server.md
Labels: Area: Documentation, Area: Server

#802 [DOC][I] Fix links on getting started page
  docs/documentation/getting-started.md
Labels: Area: Documentation, Area: IntelliJ

#803 [NOP][E] Remove EclipseWorkspaceRunnableImpl as it was no longer used
  eclipse/src/saros/filesystem/EclipseWorkspaceImpl.java
  eclipse/src/saros/filesystem/EclipseWorkspaceRunnableImpl.java
Labels: Area: Eclipse

#809 [DOC][S] Specify that Server dev build requires Saros/E dev build
  docs/documentation/saros-server.md
Labels: Area: Documentation, Area: Server

#805 [DOC] Update eclipse version information
  docs/contribute/saros-testing-framework.md
  docs/documentation/installation.md
Labels: Area: Documentation, Area: Eclipse

#811 [UI][I] Add session termination icon for session host
  intellij/resources/icons/elcl16/session_terminate_tsk.png
  intellij/src/saros/intellij/ui/Messages.java
  intellij/src/saros/intellij/ui/messages.properties
  intellij/src/saros/intellij/ui/util/IconManager.java
  intellij/src/saros/intellij/ui/views/buttons/LeaveSessionButton.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience, Type: Feature

#816 [UI][I] Add "Create Account" entry referring to website
  intellij/src/saros/intellij/ui/Messages.java
  intellij/src/saros/intellij/ui/messages.properties
  intellij/src/saros/intellij/ui/util/SafeDialogUtils.java
  intellij/src/saros/intellij/ui/views/buttons/ConnectButton.java
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience

#820 [FIX][I] #819 Only attribute undoable action to modified editor
  intellij/src/saros/intellij/editor/DocumentAPI.java
Labels: Area: IntelliJ, Aspect: User Experience, State: Fixed, Type: Bug

#823 [I] Commit automatic changes to IntelliJ settings
  .idea/compiler.xml
  .idea/gradle.xml
Labels: Area: Infrastructure, Area: IntelliJ

#826 [DOC] Add gitter logo to README badge
  README.md
Labels: Area: Documentation
