Repository saros-project/saros, pull requests merged in 2020-03, with the labels that each got.

#843 Introduce STF test categories on master
  .github/workflows/stf.yml
  .idea/compiler.xml
  README.md
  run_stf.sh
  stf.test/build.gradle
  stf.test/test/saros/stf/test/categories/FailingTests.java
  stf.test/test/saros/stf/test/categories/FlakyTests.java
  stf.test/test/saros/stf/test/chatview/ChatViewFunctionsTest.java
  stf.test/test/saros/stf/test/consistency/AddMultipleFilesTest.java
  stf.test/test/saros/stf/test/consistency/CreateSameFileAtOnceTest.java
  stf.test/test/saros/stf/test/consistency/EditDuringNonHostAddsProjectTest.java
  stf.test/test/saros/stf/test/followmode/SimpleFollowModeIITest.java
  stf.test/test/saros/stf/test/followmode/SimpleFollowModeITest.java
  stf/META-INF/MANIFEST.MF
  stf/build.gradle
  stf/libs/org.eclipse.draw2d_3.6.2.v20110128-0100.jar
  stf/libs/org.eclipse.gef_3.6.2.v20110110-2020.jar
  travis/script/stf/master/start_stf_tests.sh
  travis/script/stf/master_setup_utils.sh
  travis/script/stf/shared_vars.sh
Labels: Area: Infrastructure, Aspect: Test

#860 [INTERNAL][CORE] Remove text edit listener from FollowModeManager
  core/src/saros/editor/FollowModeManager.java
Labels: Area: Core

#861 [BUILD] Avoid duplicate content root entries
  .idea/compiler.xml
  stf.test/build.gradle
Labels: Area: Eclipse, Area: Infrastructure, Area: IntelliJ, Aspect: Test

#858 [BUILD] Add jdk 11 cron build
  .github/workflows/build_jdk11.yml
Labels: Area: Infrastructure

#876 [BUILD] Ignore javadoc errors during doc generation
  build.gradle
Labels: Area: Documentation, Area: Infrastructure

#887 [I] Use XMPPContactsService instead of Roster
  intellij/src/saros/intellij/ui/menu/SarosFileShareGroup.java
  intellij/src/saros/intellij/ui/tree/ContactPopMenu.java
  intellij/src/saros/intellij/ui/tree/ContactTreeRootNode.java
Labels: Area: IntelliJ
