Repository saros-project/saros, pull requests merged in 2020-02, with the labels that each got.

#825 [FIX][I] #821 Clean up state before reconnecting to another account
  intellij/src/saros/intellij/ui/Messages.java
  intellij/src/saros/intellij/ui/actions/ConnectServerAction.java
  intellij/src/saros/intellij/ui/messages.properties
Labels: Area: IntelliJ, Aspect: GUI, Aspect: User Experience, State: Fixed, Type: Bug

#832 [BUILD] Rename intellij zip to saros-intellij.zip
  buildSrc/src/main/java/saros/gradle/intellij/IntellijConfigurator.java
  buildSrc/src/main/java/saros/gradle/intellij/SarosIntellijExtension.java
  intellij/build.gradle
Labels: Area: Infrastructure, Area: IntelliJ

#834 [DOC] Add Contributing.md
  docs/contributing.md
Labels: Area: Documentation

#835 [BUILD] Avoid redundant jars in intellij zip
  core/build.gradle
  intellij/build.gradle
Labels: Area: Infrastructure, Area: IntelliJ

#851 Enable gradle build scan for github workflow
  .github/workflows/build.yml
Labels: Area: Infrastructure
