Repository saros-project/saros, pull requests merged in 2020-05, with the labels that each got.

#970 [BUILD][E] Export package 'saros.filesystem.checksum' from core
  core/META-INF/MANIFEST.MF
Labels: Area: Core, Area: Eclipse

#974 [DOC] Add smart anchor
  docs/_includes/scripts.html
  docs/_sass/header-anchor-links.scss
  docs/assets/js/header-anchor-links.js
  docs/assets/main.scss
Labels: Area: Documentation

#965 [INTERNAL][I] Extend selection annotation implementation
  intellij/src/saros/intellij/editor/EditorManager.java
  intellij/src/saros/intellij/editor/annotations/AnnotationManager.java
  intellij/src/saros/intellij/editor/annotations/SelectionAnnotation.java
  intellij/test/junit/saros/intellij/editor/annotations/AnnotationManagerTest.java
Labels: Area: IntelliJ, Aspect: Awareness, Type: Feature

#966 Add support for backwards selections
  core/src/saros/activities/TextSelectionActivity.java
  core/src/saros/editor/text/TextSelection.java
  intellij/src/saros/intellij/editor/EditorManager.java
Labels: Area: Core, Aspect: Awareness, Type: Feature

#967 Support backwards selections
  intellij/src/saros/intellij/editor/EditorAPI.java
  intellij/src/saros/intellij/editor/EditorManager.java
  intellij/src/saros/intellij/eventhandler/editor/selection/LocalTextSelectionChangeHandler.java
  intellij/test/junit/saros/intellij/editor/EditorAPITextPositionTest.java
Labels: Area: IntelliJ, Aspect: Awareness, Type: Feature

#982 [FIX][I] Fix Saros opening editors for files created during negotiation
  intellij/src/saros/intellij/eventhandler/filesystem/LocalFilesystemModificationHandler.java
Labels: Area: IntelliJ, Aspect: GUI, Prio: Low, Type: Bug, Type: Regression

#981 [FIX][CORE] Fix handling of empty selection in text selection activity
  core/src/saros/activities/TextSelectionActivity.java
Labels: Area: Core, Type: Bug

#986 [INTERNAL][API] Ignore micro/patch version for compatibility check
  core/src/saros/versioning/Version.java
  core/test/junit/saros/versioning/VersionManagerTest.java
Labels: Area: Core

#985 Saros/E 16.0.0 release notes
  README.md
  docs/Gemfile
  docs/_config.yml
  docs/_data/releases/sidebar.yml
  docs/contribute/processes/release.md
  docs/releases/index.md
  docs/releases/saros-e_15.0.0.md
  docs/releases/saros-e_16.0.0.md
Labels: Area: Documentation, Area: Eclipse

#989 [BUILD][I] Mark doc build artifacts as excluded
  build.gradle
Labels: Area: Documentation, Area: Infrastructure, Area: IntelliJ

#978 Add default resouce methods
  core/src/saros/filesystem/IFile.java
  core/src/saros/filesystem/IFolder.java
  core/src/saros/filesystem/IProject.java
Labels: Area: Core

#991 [CORE][E] Remove unused JoinSessionRejectedExt
  core/src/saros/communication/extensions/JoinSessionRejectedExtension.java
  core/src/saros/context/ContainerContext.java
  eclipse/src/saros/SarosEclipseContextFactory.java
  eclipse/src/saros/ui/eventhandler/JoinSessionRejectedHandler.java
Labels: Area: Core, Area: Eclipse

#990 [UI][I] Makes the wizard to accept project negotiation modal
  intellij/src/saros/core/ui/eventhandler/NegotiationHandler.java
  intellij/src/saros/intellij/ui/wizards/AddProjectToSessionWizard.java
  intellij/src/saros/intellij/ui/wizards/JoinSessionWizard.java
Labels: Area: IntelliJ, Aspect: GUI

#994 [INTERNAL][I] Ignore "Unused Property" warning in messages.properties
  intellij/src/saros/intellij/ui/messages.properties
Labels: Area: IntelliJ

#995 [API][CORE] Adjust IContainer.getFolder(...) to not allow empty paths
  core/src/saros/filesystem/IContainer.java
Labels: Area: Core

#1006 [BUILD] Update and remove update-site information
  eclipse/update/index.html
  eclipse/update/site.xml
  eclipse/update/web/site.css
  eclipse/update/web/site.xsl
Labels: Area: Eclipse, Area: Infrastructure

#1004 [DOC] Add test update-site instructions
  docs/contribute/processes/release.md
Labels: Area: Documentation, Area: Eclipse

#1009 [BUILD] Add workflow running PMD on changes to the ruleset
  .github/workflows/build_pmd.yml
Labels: Area: Infrastructure

#1010 [BUILD] Enforce package naming conventions PMD
  eclipse/META-INF/MANIFEST.MF
  eclipse/plugin.xml
  eclipse/src/saros/feedback/ErrorLogManager.java
  eclipse/src/saros/feedback/StatisticManager.java
  eclipse/src/saros/service_providers/SarosSourceProvider.java
  eclipse/src/saros/service_providers/package-info.java
  eclipse/src/saros/ui/command_handlers/AddContactHandler.java
  eclipse/src/saros/ui/command_handlers/AddXMPPAccountHandler.java
  eclipse/src/saros/ui/command_handlers/CreateXMPPAccountHandler.java
  eclipse/src/saros/ui/command_handlers/GettingStartedHandler.java
  eclipse/src/saros/ui/command_handlers/OpenSarosPreferencesHandler.java
  eclipse/src/saros/ui/command_handlers/SessionAddContactsHandler.java
  eclipse/src/saros/ui/command_handlers/SessionAddProjectsHandler.java
  eclipse/src/saros/ui/command_handlers/SessionAddSelectedContactsHandler.java
  eclipse/src/saros/ui/command_handlers/SessionAddSelectedProjectsHandler.java
  eclipse/src/saros/ui/command_handlers/SessionLeaveHandler.java
  eclipse/src/saros/ui/command_handlers/ShareProjectHandler.java
  eclipse/src/saros/ui/command_handlers/StartSarosConfigurationHandler.java
  eclipse/src/saros/ui/command_handlers/package-info.java
  eclipse/src/saros/ui/menu_contributions/StartSessionWithContacts.java
  eclipse/src/saros/ui/menu_contributions/StartSessionWithProjects.java
  eclipse/src/saros/ui/menu_contributions/package-info.java
  eclipse/src/saros/ui/preference_pages/AdvancedPreferencePage.java
  eclipse/src/saros/ui/preference_pages/CommunicationPreferencePage.java
  eclipse/src/saros/ui/preference_pages/FeedbackPreferencePage.java
  eclipse/src/saros/ui/preference_pages/GeneralPreferencePage.java
  eclipse/src/saros/ui/preference_pages/NetworkPreferencePage.java
  eclipse/src/saros/ui/preference_pages/PersonalizationPreferencePage.java
  eclipse/src/saros/ui/preference_pages/package-info.java
  eclipse/src/saros/ui/views/SarosView.java
  ruleset.xml
Labels: Area: Eclipse

#1015 [INTERNAL][STF] Fix wrong eclipse endpoint
  eclipse/plugin.xml
Labels: Area: Eclipse, Aspect: Test

#1005 [API][CORE] Return list for IContainer.members()
  core/src/saros/filesystem/IContainer.java
  core/src/saros/negotiation/FileListFactory.java
  core/test/junit/saros/negotiation/FileListTest.java
  eclipse/src/saros/filesystem/EclipseContainerImpl.java
  intellij/src/saros/core/ui/util/CollaborationUtils.java
  intellij/src/saros/intellij/filesystem/IntelliJFolderImpl.java
  intellij/src/saros/intellij/filesystem/IntelliJProjectImpl.java
  server/src/saros/server/filesystem/ServerContainerImpl.java
  server/test/junit/saros/server/filesystem/ServerContainerImplTest.java
Labels: Area: Core

#1017 [UI][E] Fix ConfigurationWizard's "Next" Button
  eclipse/src/saros/ui/wizards/dialogs/ConfigurationWizardDialog.java
Labels: Area: Eclipse, Aspect: GUI, Type: Bug
