Repository saros-project/saros, pull requests merged in 2020-09, with the labels that each got.

#1030 [BUILD][E] Create update-site via gradle
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/java/saros/gradle/eclipse/SarosEclipseExtension.java
  buildSrc/src/main/java/saros/gradle/eclipse/SarosEclipsePlugin.java
  eclipse/build.gradle.kts
  stf.test/build.gradle.kts
  stf/build.gradle.kts
Labels: Area: Eclipse, Area: Infrastructure

#1089 [BUILD] Workaround missing dependency (STF)
  stf/build.gradle.kts
Labels: Area: Infrastructure, Area: STF

#1085 [DOC] Remove migration to reference point system as an open topic
  docs/contribute/open-topics.md
  docs/contribute/refactoring-filesystem.md
Labels: Area: Documentation
